body {
	font:13px/18px Tahoma,sans-serif,Arial,Helvetica
}

.container {
	width:600px;
	height:600px;
	margin:0 auto;
	border-top:1px solid #d2dbe3;
    border-bottom: 1px solid #d2dbe3;
    border-right: 1px solid #dfe5ec;
    border-left: 1px solid #dfe5ec;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 1px 0 #dfe5ec;
}

.container > .tasks-wrap {
	width:100%;
	height:510px;
	overflow-x: hidden;
	overflow-y: auto;
}

.container > .tasks-wrap > .tasks {
	width:100%;
	min-height: 50px;
	border-bottom:1px solid #d2dbe3;
}

.container > .tasks-wrap > .tasks > .tasks-text-wrap {
	width:500px;
	height:auto;
	display: inline-block;
	word-wrap: break-word;
	line-height: 1.5;
}

.container > .tasks-wrap > .tasks > .delete-btn {
    position: relative;
    width: 26px;
    height: 26px;
    margin-top: -28px;
    margin-left:550px;
    opacity: 1;
    background-image: url(../assets/Iconset.png);
    background-position: -9px -315px;
    background-size: 42px 1171px;
    display: block;
}

.container > .tasks-wrap > .tasks > .mark-btn {
    position: relative;
    width: 26px;
    height: 26px;
    margin-top: -5px;
    margin-left:520px;
    opacity: 1;
    background-image: url(../assets/Iconset.png);
    background-position: -9px -341px;
    background-size: 42px 1171px;
    display: block;
}

.container > .tasks-wrap > .tasks > .marked-btn {
    position: relative;
    width: 26px;
    height: 26px;
    margin-top: -5px;
    margin-left:520px;
    opacity: 1;
    background-image: url(../assets/Iconset.png);
    background-position: -9px -363px;
    background-size: 42px 1171px;
    display: block;
}

.container > .send-form-wrap {
	height:90px;
	width:100%;
	position: relative;
}

.container > .send-form-wrap > .send-textarea {
	font-size: 12px;
    border-bottom: 1px Solid #e8e8e8;
    border-left: none;
    border-right: none;
    border-top: none;
    resize: none;
    width: 320px;
    height: 55px;
    word-wrap: break-word;
    overflow: auto;
    overflow-x:hidden;
    outline: none;
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.container > .send-form-wrap > .send-textarea:focus {
	border-bottom:2px Solid rgb(70,90,124);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.container > .send-form-wrap > .send-btn {
	margin-top: 60px;
	margin-left: 380px;
}